<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/ConstructionOrderList.css}" rel="stylesheet"/>
</head>
<body>

<div class="responstable">
    <div class="head"><h1>Lista zleceń budowlanych</h1></div>
    <table>

        <tr >
            <th> ID</th>
            <th >Tytuł</th>
            <th >Adres</th>
            <th >Data rozpoczęcia</th>
            <th >Data zakończenia</th>
            <th>Szacowany zysk</th>
            <th class="links">Szczegóły / Edycja</th>
            <th class="links">Rozliczenie</th>
            <th class="links">Usuń</th>
        </tr>

        <tr th:each="consOrd : ${ConsOrder}">
            <td th:text="${consOrd.ID}"></td>
            <td th:text="${consOrd.title}">Renowacja Elewacji Mokotów</td>
            <td th:text="${consOrd.addres}">Mokotów, ul. Czerniakowska 33/55</td>
            <td th:text="${consOrd.startDate}">01-01-2020</td>
            <td th:text="${consOrd.scheduledEndDate}">03-03-2020r</td>
            <td th:text="${consOrd.profitEstimation()}">15 000 zł</td>
            <td class="links"><a th:href="@{'/constructionOrder/' + ${consOrd.ID} + '/edit'}"> Szczegóły / Edycja</a></td>
            <td><a  th:href="@{'/constructionOrder/' + ${consOrd.ID} + '/settlementAndDelete'}"> Rozlicz </a></td>
            <td><a  th:href="@{'/constructionOrder/' + ${consOrd.ID} + '/delete'}"> Usuń</a></td>
        </tr>

    </table>
    <a style="font-size: 13px" class="button" th:href="@{newConstructionOrder}" >Dodaj nowe zlecenie budowlane </a>
</div>
</body>
</html>