<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/ConstructionOrderForm.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
</head>

<body>
<div class="main-block">
    <form th:action="@{'/constructionOrder/' + ${ConsOrder.ID} + '/ConfrimEdit'}" th:object="${ConsOrder}"
          method="post">
        <h1>Dodaj zlecenie budowlane</h1>
        <div class="info">
            <input class="fname" type="hidden" name="name" placeholder="Full name" th:field="*{ID}"
                   th:value="${ConsOrder.ID}">

            <label>Tytuł</label>
            <input type="text" placeholder="e.g. 1000" th:field="*{title}" th:value="${ConsOrder.title}"
                   th:name="title">
            <span th:if="${#fields.hasErrors('title')}">
                    <ul>
                        <li style="color: red">Pole nie może być puste</li>
                    </ul>
            </span>
            <label>Adres</label>
            <input type="text" name="name" placeholder="e. g. Rozliczenie z urzędem skarbowym" th:field="*{addres}"
                   th:value="${ConsOrder.addres}" th:name="adres">
            <span th:if="${#fields.hasErrors('addres')}">
                    <ul>
                        <li style="color: red">Pole nie może być puste</li>
                    </ul>
            </span>
            <div>
                <div class="element1">
                    <label>Termin rozpoczęcia</label>
                    <input type="text" class="datepicker" th:value="${startDate}" th:name="date1"></div>
                <div class="element2">
                    <label>Termin zakończenia</label>
                    <input type="text" class="datepicker" th:value="${endDate}" th:name="date2"></div>
            </div>
            <div class="elementClear"></div>

            <label>Lista kosztów </label>
            <div class="elementClear"></div>
            <div class="IncomeBody">
                <ul th:each="IndCost : ${ConsOrder.indicativeCostCommands}">
                    <li th:text="'Kwota ' + ${IndCost.amount}  + ' zł. Za: ' + ${IndCost.forWhat}" +>1000 zł,
                        Andrzej Brzozowski, 2021-11-11
                    </li>
                </ul>
            </div>
            <div class="IncomeHead">
                <a class="configuration" th:href="@{'/consOrderEdit/newCostToConsOrder/' + ${ConsOrder.ID}}">Konfiguruj</a>

            </div>
            <label>Przychód</label>
            <div class="IncomeBody">
                <ul th:each="income : ${ConsOrder.incomeCommands}">
                    <li th:text="'Kwota ' + ${income.amount}  + ' zł. Za: ' + ${income.forWhat} + ', data: ' + ${income.scheduledTimeToGet}">
                        20 000 zł, Kamil Albertski, rozliczenie faktury za naprawę, 2021-09-09
                    </li>
                </ul>
            </div>
            <div class="IncomeHead">
                <a class="configuration" th:href="@{'/constructionOrderEdit/newIncomeToConsOrder/' + ${ConsOrder.ID}}">Konfiguruj</a>
            </div>
            <ul>
                <li style="color: red"> Daty muszą być w formacie "mm/dd/yyyy"!</li>
                <li style="color: red"> Pola nie mogą być puste</li>
            </ul>
            <button type="submit" href="/">Edytuj
            </button>
    </form>

</div>
</div>
<a style="font-size: 13px" class="button" th:href="@{/}">Powrót do głównego menu</a>
</body>

</html>