<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/ConstructionOrderFormView.css}" rel="stylesheet"/>
<body>
<div class="main-block">
    <form action="/">
        <h1>Dodaj zlecenie budowlane</h1>
        <div class="info">

            <label>Tytuł</label>
            <p>Remont mieszkania Mokotów</p>

            <label>Adres</label>
            <p>Mokotów Czerniakowska 113/10</p>

            <div>
                <div class="element1">
                    <label>Termin rozpoczęcia</label>
                    <p>2021-02-02</p>
                </div>
                <div class="element2">
                    <label>Termin zakończenia</label>
                    <p>2021-03-03</p>
                </div>
            </div>

            <div class="elementClear"></div>

            <label>Lista kosztów </label>
            <div class="elementClear"></div>

            <div class="IncomeBody">
                <ul>
                    <li>1000 zł, Andrzej Brzozowski, 2021-11-11</li>
                    <li>2000 zł, Jan Nowak. 2021-10-10</li>
                    <li>3000, Artur Morawiec, 2021-09-09</li>
                </ul>
            </div>

            <div class="IncomeHead">
                <button type="submit" href="/">Konfiguruj</button>
            </div>

            <label>Przychód</label>
            <div class="IncomeBody">
                <ul>
                    <li>20 000 zł, Kamil Albertski, rozliczenie faktury za naprawę, 2021-09-09</li>
                </ul>
            </div>
            <div class="IncomeHead">
                <button type="submit" href="/">Konfiguruj</button>
            </div>
        </div>
        <button type="submit" href="/">Dodaj Rozchód</button>
    </form>
</div>
</body>
</head>
<body>

</body>
</html>