<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link th:href="@{/css/newIncome.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
</head>

<body>
<form action="/createCostOrder" th:object="${ConsOrder}" th:method="post">
    <div th:if="${#fields.hasErrors('*')}">
        <p>Należy poprawić błędy</p>
    </div>
    <h1>Dodaj zlecenie budowlane</h1>
    <div class="info">
        <input class="fname" type="hidden" name="name" placeholder="Full name" th:field="*{ID}">

        <label>Tytuł</label>
        <input type="text" placeholder="e.g. 1000" th:field="*{title}">
        <span th:if="${#fields.hasErrors('title')}">
                    <ul>
                        <li style="color: red" th:each="err : ${#fields.errors('title')}" th:text="${err}"/>
                    </ul>
            </span>
        <label>Adres</label>
        <input type="text" name="name" placeholder="e. g. Rozliczenie z urzędem skarbowym" th:field="*{addres}">
        <span th:if="${#fields.hasErrors('addres')}">
                    <ul>
                        <li style="color: red" th:each="err : ${#fields.errors('addres')}" th:text="${err}"/>
                    </ul>
            </span>
        <div>
            <div class="element1">
                <label>Termin rozpoczęcia</label>
                <input type="text" class="datepicker" th:name="date1" th:value="${startDate}">
            </div>
            <div class="element2">
                <label>Termin zakończenia</label>
                <input type="text" class="datepicker" th:name="date2" th:value="${endDate}">
            </div>
        </div>
        <ul>
            <li style="color: red"> Daty muszą być w formacie "mm/dd/yyyy"!</li>
            <li style="color: red"> Pola nie mogą być puste</li>
        </ul>
        <div class="elementClear"></div>
        <button type="submit" href="/">Dalej</button>
    </div>
</form>
</div>
<a style="font-size: 13px" class="button" th:href="@{/}">Powrót do głównego menu</a>
</body>

</html>