
.html, body{
    background:#39CCCC;
    box-sizing: border-box;
}
.responstable{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}
.button {
    margin-top: 18px;
    font-size: 30px;
    float: right;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    padding: 14px;
    background: #1a83eb;
    border-radius: 3%;
}

.button:hover{
    background: #2371a0;
}
th {

    border: 2px solid rgba(29,150,178,1);
    font-weight: normal;
    text-align: center;
    background-color: #1c87c9;
    height: 4vh;
}

h1 {
    opacity: 60%;
}



.head {
    width: 60%;
    opacity: 50%;

    text-align: center;
    height: 4vh;
    line-height: 4vh;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    opacity: 80%;
    font-size: 20px;

}

button {
    width: 20%;
    float: right;
    height: 30px;
    line-height: 20px;
    padding: 4px;
    border-radius: 3px;
    background-color: #1c87c9;
    margin-top: 3vh;
    border: 1px solid #006400;
}
button:hover {
    background: #2371a0;
}

table {
    width: 100%;
    height: 100%;
    border: 2px solid #008B8B;
}

.links{
    width: 6%;
}

td{
    height: 4vh;
    background: #f5f5f5;
    text-align: center;
}

a {

    text-align: center;
}
