<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/ConstructionOrderForm.css}" rel="stylesheet"/>
</head>

<body>
<div class="main-block">
    <form action="/newCostToConsOrder" th:object="${ConsOrder}" >
    <form action="/indicativeCostForm">
        <h1>Dodaj zlecenie budowlane</h1>
        <div class="info">
            <input class="fname" type="hidden" name="name" placeholder="Full name" th:field="*{ID}">

            <label>Tytuł</label>
            <input type="text" placeholder="e.g. 1000" th:field="*{title}">

            <label>Adres</label>
            <input type="text" name="name" placeholder="e. g. Rozliczenie z urzędem skarbowym" th:field="*{addres}">

            <div>
                <div class="element1">
                    <label>Termin rozpoczęcia</label>
                    <input type="date" name="name" placeholder="" th:field="*{startDate}">
                </div>
                <div class="element2">
                    <label>Termin zakończenia</label>
                    <input type="date" name="name" placeholder="" th:field="*{scheduledEndDate}">
                    <input type="hidden" th:field="*{indicateCosts}">
                </div>
            </div>
            <div class="elementClear"></div>

            <label>Lista kosztów </label>
            <div class="elementClear"></div>
            <div class="IncomeBody">
                <ul th:each="IndCost : ${ConsOrder.indicateCosts}">
                    <li th:text="'Kwota ' + ${IndCost.amount}  + ' zł. Za: ' + ${IndCost.forWhat}" + >1000 zł, Andrzej Brzozowski, 2021-11-11</li>
                </ul>
            </div>
            <div class="IncomeHead">
                <button type="submit" href="/">Konfiguruj</button>

            </div>
            <label>Przychód</label>
            <div class="IncomeBody">
                <ul>
                    <li>20 000 zł, Kamil Albertski, rozliczenie faktury za naprawę, 2021-09-09</li>
                </ul>
            </div>
            <div class="IncomeHead">
                <button type="submit" href="/">Konfiguruj</button>
            </div>

    </form>
        <button type="submit" href="/">Dodaj Rozchód</button>
    </form>

</div>
</div>
</body>

</html>