<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/FinancialForecast.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/financialForecast.js"></script>
</head>
<body>
<div class="main-body">
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody wszystkie</h3></div>
            <button id="tab1">Ukryj / Pokaż</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="cost : ${costs}">
                    <td class="td1" th:text="${cost.ID}">1</td>
                    <td class="td1" th:text="${cost.amount}">1000</td>
                    <td class="td1" th:text="${cost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td class="td1" th:text="${cost.scheduledtime}">01-01-2020</td>
                    <td class="td1"><a href="#" th:href="@{'/cost/' + ${cost.ID} + '/delete'}"> Usuń </a></td>
                    <td class="td1"><a href="#" th:href="@{'/budget/' + ${cost.ID} + '/decrease'}"> Zrealizuj</a></td>
                    <td class="links td1">
                        <form th:action="@{'postpone/' + ${cost.ID} + '/cost'}" method="post">
                            <input type="text" th:name="test2"/>
                            <button type="submit" class="btn-link"> dni</button>
                        </form>
                    </td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div>
            <div class="informationDiv" th:text="${sumOfCosts}">1000 zł</div>
        </div>
    </div>

    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody wszystkie</h3></div>
            <button id="tab2">Ukryj / Pokaż</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnieniaa</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="income : ${incomes}">
                    <td class="td2" th:text="${income.ID}">1</td>
                    <td class="td2" th:text="${income.amount}">1000</td>
                    <td class="td2" th:text="${income.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td class="td2" th:text="${income.scheduledTimeToGet}">01-01-2020</td>
                    <td class="td2"><a href="#" th:href="@{'/income/' + ${income.ID} + '/delete'}"> Usuń </a></td>
                    <td class="td2"><a href="#" th:href="@{'/budget/' + ${income.ID} + '/increase'}"> Zrealizuj</a></td>
                    <td class="links td2">
                        <form th:action="@{'postpone/' + ${income.ID} + '/income'}" method="post">
                            <input type="text" th:name="test"/>
                            <button type="submit" class="btn-link"> dni</button>
                        </form>
                    </td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div>
            <div class="informationDiv" th:text="${sumOfIncomes}">1000 zł</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody zaległe</h3></div>
            <button id="tab3">Ukryj / Pokaż</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th class="links"> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="outsCost : ${outsCosts}">
                    <td class="td3" th:text="${outsCost.ID}">1</td>
                    <td class="td3" th:text="${outsCost.amount}">1000</td>
                    <td class="td3" th:text="${outsCost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td class="td3" th:text="${outsCost.scheduledtime}">01-01-2020</td>
                    <td class="td3"><a href="#" th:href="@{'/cost/' + ${outsCost.ID} + '/delete'}"> Usuń </a></td>
                    <td class="td3"><a href="#" th:href="@{'/budget/' + ${outsCost.ID} + '/decrease'}"> Zrealizuj</a>
                    </td>
                    <td class="links td3">
                        <form th:action="@{'postpone/' + ${outsCost.ID} + '/cost'}" method="post">
                            <input type="text" th:name="test2"/>
                            <button type="submit" class="btn-link"> dni</button>
                        </form>
                    </td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div>
            <div class="informationDiv" th:text="${sumOfOutsCosts}">1000 zł</div>
        </div>
    </div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody zaległe </h3></div>
            <button id="tab4">Ukryj / Pokaż</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="outsIncome : ${outsIncomes}">
                    <td class="td4" th:text="${outsIncome.ID}">1</td>
                    <td class="td4" th:text="${outsIncome.amount}">1000</td>
                    <td class="td4" th:text="${outsIncome.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td class="td4" th:text="${outsIncome.scheduledTimeToGet}">01-01-2020</td>
                    <td class="td4"><a href="#" th:href="@{'/income/' + ${outsIncome.ID} + '/delete'}"> Usuń </a></td>
                    <td class="td4"><a href="#" th:href="@{'/budget/' + ${outsIncome.ID} + '/increase'}"> Zrealizuj</a>
                    </td>
                    <td class="links td4">
                        <form th:action="@{'postpone/' + ${outsIncome.ID} + '/income'}" method="post">
                            <input type="text" th:name="test"/>
                            <button type="submit" class="btn-link"> dni</button>
                        </form>
                    </td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div>
            <div class="informationDiv" th:text="${sumOfOutsIncomes}">1000 zł</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody na najbliższy miesiąć</h3></div>
            <button id="tab5">Ukryj / Pokaż</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="nextCost : ${nextCosts}">
                    <td class="td5" th:text="${nextCost.ID}">1</td>
                    <td class="td5" th:text="${nextCost.amount}">1000</td>
                    <td class="td5" th:text="${nextCost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td class="td5" th:text="${nextCost.scheduledtime}">01-01-2020</td>
                    <td class="td5">
                        <a href="#" th:href="@{'/cost/' + ${nextCost.ID} + '/delete'}"> Usuń </a></td>
                    <td class="td5"><a href="#" th:href="@{'/budget/' + ${nextCost.ID} + '/decrease'}"> Zrealizuj</a>
                    </td>
                    <td class="links td5">
                        <form th:action="@{'postpone/' + ${nextCost.ID} + '/cost'}" method="post">
                            <input type="text" th:name="test2"/>
                            <button type="submit" class="btn-link"> dni</button>
                        </form>
                    </td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div>
            <div class="informationDiv" th:text="${sumOfNextCosts}">1000 zł</div>
        </div>
    </div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody na najbliższy miesiąc</h3></div>
            <button id="tab6">Ukryj / Pokaż</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="nextIncome : ${nextIncomes}">
                    <td class="td6" th:text="${nextIncome.ID}">1</td>
                    <td class="td6" th:text="${nextIncome.amount}">1000</td>
                    <td class="td6" th:text="${nextIncome.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td class="td6" th:text="${nextIncome.scheduledTimeToGet}">01-01-2020</td>
                    <td class="td6"><a href="#" th:href="@{'/income/' + ${nextIncome.ID} + '/delete'}"> Usuń </a></td>
                    <td class="td6"><a href="#" th:href="@{'/budget/' + ${nextIncome.ID} + '/increase'}"> Zrealizuj</a>
                    </td>
                    <td class="links td6">
                        <form th:action="@{'postpone/' + ${nextIncome.ID} + '/income'}" method="post">
                            <input type="text" th:name="test"/>
                            <button type="submit" class="btn-link"> dni</button>
                        </form>
                    </td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div>
            <div class="informationDiv" th:text="${sumOfNextIncomes}">1000 zł</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody na kolejny miesiąc</h3></div>
            <button id="tab7">Ukryj / Pokaż</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="anotherCost : ${anotherCosts}">
                    <td class="td7" th:text="${anotherCost.ID}">1</td>
                    <td class="td7" th:text="${anotherCost.amount}">1000</td>
                    <td class="td7" th:text="${anotherCost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td class="td7" th:text="${anotherCost.scheduledtime}">01-01-2020</td>
                    <td class="td7"><a href="#" th:href="@{'/cost/' + ${anotherCost.ID} + '/delete'}"> Usuń </a></td>
                    <td class="td7"><a href="#" th:href="@{'/budget/' + ${anotherCost.ID} + '/decrease'}"> Zrealizuj</a>
                    </td>
                    <td class="links td7">
                        <form th:action="@{'postpone/' + ${anotherCost.ID} + '/cost'}" method="post">
                            <input type="text" th:name="test2"/>
                            <button type="submit" class="btn-link"> dni</button>
                        </form>
                    </td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div>
            <div class="informationDiv" th:text="${sumOfAnotherCosts}">1000 zł</div>
        </div>
    </div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody na kolejny miesiąć</h3></div>
            <button id="tab8">Ukryj / Pokaż</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="anotherIncome : ${anotherIncomes}">
                    <td class="td8" th:text="${anotherIncome.ID}">1</td>
                    <td class="td8" th:text="${anotherIncome.amount}">1000</td>
                    <td class="td8" th:text="${anotherIncome.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td class="td8" th:text="${anotherIncome.scheduledTimeToGet}">01-01-2020</td>
                    <td class="td8"><a href="#" th:href="@{'/income/' + ${anotherIncome.ID} + '/delete'}"> Usuń </a>
                    </td>
                    <td class="td8"><a href="#" th:href="@{'/budget/' + ${anotherIncome.ID} + '/increase'}">
                        Zrealizuj</a></td>
                    <td class="links td8">
                        <form th:action="@{'postpone/' + ${anotherIncome.ID} + '/income'}" method="post">
                            <input type="text" th:name="test"/>
                            <button type="submit" class="btn-link"> dni</button>
                        </form>
                    </td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div>
            <div class="informationDiv" th:text="${sumOfAnotherIncomes}">1000 zł</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody dalsze</h3></div>
            <button id="tab9">Ukryj / Pokaż</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="furtherCost : ${furtherCosts}">
                    <td class="td9"th:text="${furtherCost.ID}">1</td>
                    <td class="td9"th:text="${furtherCost.amount}">1000</td>
                    <td class="td9"th:text="${furtherCost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td class="td9"th:text="${furtherCost.scheduledtime}">01-01-2020</td>
                    <td class="td9"><a href="#" th:href="@{'/cost/' + ${furtherCost.ID} + '/delete'}"> Usuń </a></td>
                    <td class="td9"><a href="#" th:href="@{'/budget/' + ${furtherCost.ID} + '/decrease'}"> Zrealizuj</a></td>
                    <td class="links td9">
                        <form th:action="@{'postpone/' + ${furtherCost.ID} + '/cost'}" method="post">
                            <input type="text" th:name="test2"/>
                            <button type="submit" class="btn-link"> dni</button>
                        </form>
                    </td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div>
            <div class="informationDiv" th:text="${sumOfFurtherCosts}">1000 zł</div>
        </div>
    </div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody dalsze</h3></div>
            <button id="tab10">Ukryj / Pokaż</button>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnieniaa</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="furtherIncome : ${furtherIncomes}">
                    <td class="td10"th:text="${furtherIncome.ID}">1</td>
                    <td class="td10"th:text="${furtherIncome.amount}">1000</td>
                    <td class="td10"th:text="${furtherIncome.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td class="td10"th:text="${furtherIncome.scheduledTimeToGet}">01-01-2020</td>
                    <td class="td10"><a href="#" th:href="@{'/income/' + ${furtherIncome.ID} + '/delete'}"> Usuń </a></td>
                    <td class="td10"><a href="#" th:href="@{'/budget/' + ${furtherIncome.ID} + '/increase'}"> Zrealizuj</a></td>
                    <td class="links td10">
                        <form th:action="@{'postpone/' + ${furtherIncome.ID} + '/income'}" method="post">
                            <input type="text" th:name="test"/>
                            <button type="submit" class="btn-link"> dni</button>
                        </form>
                    </td>
                </tr>

            </table>
            <div class="informationDiv">Suma zł</div>
            <div class="informationDiv" th:text="${sumOfFurtherIncomes}">1000 zł</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="Budget" th:text="'Aktualnie budżet wynosi ' + ${Budget.getAmount} + ' zł.'"> Aktualnie budget wynosi
        20000 zł.
    </div>
    <a style="font-size: 13px" class="button" th:href="@{/}" >Powrót do głównego menu</a>
</div>
</body>
</html>