<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/FinancialForecast.css}" rel="stylesheet"/>
</head>
<body>
<div class="main-body">
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody wszystkie</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="cost : ${costs}">
                    <td th:text="${cost.ID}">1</td>
                    <td th:text="${cost.amount}">1000</td>
                    <td th:text="${cost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${cost.scheduledtime}">01-01-2020</td>
                    <td><a href = "#"> Usuń </a></td>
                    <td><a href = "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div><div class="informationDiv" th:text="${sumOfCosts}">1000 zł</div>
        </div>
    </div>

    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody wszystkie</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnieniaa</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="income : ${incomes}">
                    <td th:text="${income.ID}">1</td>
                    <td th:text="${income.amount}">1000</td>
                    <td th:text="${income.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${income.scheduledTimeToGet}">01-01-2020</td>
                    <td><a href = "#"> Usuń </a></td>
                    <td><a href =  "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div><div class="informationDiv" th:text="${sumOfIncomes}">1000 zł</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody zaległe</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="outsCost : ${outsCosts}">
                    <td th:text="${outsCost.ID}">1</td>
                    <td th:text="${outsCost.amount}">1000</td>
                    <td th:text="${outsCost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${outsCost.scheduledtime}">01-01-2020</td>
                    <td><a href = "#"> Usuń </a></td>
                    <td><a href = "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div><div class="informationDiv" th:text="${sumOfOutsCosts}">1000 zł</div>
        </div>
    </div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody  zaległe </h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="outsIncome : ${outsIncomes}">
                    <td th:text="${outsIncome.ID}">1</td>
                    <td th:text="${outsIncome.amount}">1000</td>
                    <td th:text="${outsIncome.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${outsIncome.scheduledTimeToGet}">01-01-2020</td>
                    <td><a href = "#"> Usuń </a></td>
                    <td><a href = "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div><div class="informationDiv" th:text="${sumOfOutsIncomes}">1000 zł</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody na najbliższy miesiąć</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="nextCost : ${nextCosts}">
                    <td th:text="${nextCost.ID}">1</td>
                    <td th:text="${nextCost.amount}">1000</td>
                    <td th:text="${nextCost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${nextCost.scheduledtime}">01-01-2020</td>
                    <td><a href = "#"> Usuń </a></td>
                    <td><a href = "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div><div class="informationDiv" th:text="${sumOfNextCosts}">1000 zł</div>
        </div>
    </div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody na najbliższy miesiąc</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="nextIncome : ${nextIncomes}">
                    <td th:text="${nextIncome.ID}">1</td>
                    <td th:text="${nextIncome.amount}">1000</td>
                    <td th:text="${nextIncome.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${nextIncome.scheduledTimeToGet}">01-01-2020</td>
                    <td><a href = "#"> Usuń </a></td>
                    <td><a href = "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div><div class="informationDiv" th:text="${sumOfNextIncomes}">1000 zł</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody na kolejny miesiąc</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="anotherCost : ${anotherCosts}">
                    <td th:text="${anotherCost.ID}">1</td>
                    <td th:text="${anotherCost.amount}">1000</td>
                    <td th:text="${anotherCost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${anotherCost.scheduledtime}">01-01-2020</td>
                    <td><a href = "#"> Usuń </a></td>
                    <td><a href = "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div><div class="informationDiv" th:text="${sumOfAnotherCosts}">1000 zł</div>
        </div>
    </div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody na kolejny miesiąć</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="anotherIncome : ${anotherIncomes}">
                    <td th:text="${anotherIncome.ID}">1</td>
                    <td th:text="${anotherIncome.amount}">1000</td>
                    <td th:text="${anotherIncome.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${anotherIncome.scheduledTimeToGet}">01-01-2020</td>
                    <td><a href = "#"> Usuń </a></td>
                    <td><a href = "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div><div class="informationDiv" th:text="${sumOfAnotherIncomes}">1000 zł</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody dalsze</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="furtherCost : ${furtherCosts}">
                    <td th:text="${furtherCost.ID}">1</td>
                    <td th:text="${furtherCost.amount}">1000</td>
                    <td th:text="${furtherCost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${furtherCost.scheduledtime}">01-01-2020</td>
                    <td><a href =  "#"> Usuń </a></td>
                    <td><a href = "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href = "#">dni</a></td>
                </tr>
            </table>
            <div class="informationDiv">Suma zł</div><div class="informationDiv" th:text="${sumOfFurtherCosts}">1000 zł</div>
        </div>
    </div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody dalsze</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnieniaa</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="furtherIncome : ${furtherIncomes}">
                    <td th:text="${furtherIncome.ID}">1</td>
                    <td th:text="${furtherIncome.amount}">1000</td>
                    <td th:text="${furtherIncome.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${furtherIncome.scheduledTimeToGet}">01-01-2020</td>
                    <td><a href =  "#"> Usuń </a></td>
                    <td><a href =  "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>

            </table>
            <div class="informationDiv">Suma zł</div><div class="informationDiv" th:text="${sumOfFurtherIncomes}">1000 zł</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="forecast"><h1>Prognoza Finansowa</h1><br>
        <p>Prognozowane jest że za 30 dni twój budżet zwiększy się o 10000zł.<br>
            Po zrealizowaniu wszystkich przychodów i kosztów twój budżet zwiększy się o 20000 zł.</p>
    </div>
</div>
</body>
</html>