<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/FinancialForecast.css}" rel="stylesheet"/>

</head>
<body>
<div class="main-body">
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Rozchody</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="cost : ${costs}">
                    <td th:text="${cost.ID}">1</td>
                    <td th:text="${cost.amount}">1000</td>
                    <td th:text="${cost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${cost.scheduledtime}">01-01-2020</td>
                    <td><a href = "#"> Usuń </a></td>
                    <td><a href = "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
        </div>
        <div class="formInfo">
            <div class="head"><h3>Rozchody</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnienia</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="outsCost : ${outsCosts}">
                    <td th:text="${outsCost.ID}">1</td>
                    <td th:text="${outsCost.amount}">1000</td>
                    <td th:text="${outsCost.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${outsCost.scheduledtime}">01-01-2020</td>
                    <td><a href =  "#"> Usuń </a></td>
                    <td><a href = "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href = "#">dni</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="half">
        <div class="formInfo">
            <div class="head"><h3>Przychody</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnieniaa</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="income : ${incomes}">
                    <td th:text="${income.ID}">1</td>
                    <td th:text="${income.amount}">1000</td>
                    <td th:text="${income.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${income.scheduledTimeToGet}">01-01-2020</td>
                    <td><a href = "#"> Usuń </a></td>
                    <td><a href =  "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
        </div>
        <div class="formInfo">
            <div class="head"><h3>Przychody</h3></div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Kwota</th>
                    <th>Za co</th>
                    <th>Data zaistnieniaa</th>
                    <th> Usuń</th>
                    <th> Zrealizuj</th>
                    <th> Zrealizuj i odnów za</th>
                </tr>
                <tr th:each="outsincome : ${outsIncomes}">
                    <td th:text="${outsincome.ID}">1</td>
                    <td th:text="${outsincome.amount}">1000</td>
                    <td th:text="${outsincome.forWhat}">Mokotów, ul. Czerniakowska 33/55</td>
                    <td th:text="${outsincome.scheduledTimeToGet}">01-01-2020</td>
                    <td><a href =  "#"> Usuń </a></td>
                    <td><a href =  "#"> Zrealizuj</a></td>
                    <td class="links"><input type="text"><a href =  "#">dni</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clear"></div>
    <div class="forecast"><h1>Prognoza Finansowa</h1><br>
        <p>Prognozowane jest że za 30 dni twój budżet zwiększy się o 10000zł.<br>
            Po zrealizowaniu wszystkich przychodów i kosztów twój budżet zwiększy się o 20000 zł.</p>
    </div>
</div>
</body>
</html>