<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link th:href="@{/css/index.css}"  rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div><a href="#" class="button"><span>✓</span>Dodaj zlecenie budowlane</a></div>

        <div><a href="#" class="button purple"><span>✓</span>Dodaj zobowiązanie</a></div>
            <div><a href="#" class="button green"><span>✓</span>Dodaj należność</a></div>
                <div><a href="#" class="button turquoise"><span>✓</span>Przejrzyj listę budów</a></div>
                    <div><a href="#" class="button red"><span>✓</span>Prognoza finansowa</a></div>
</div>

</body>
</html>