<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link th:href="@{/css/newIncome.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>
</head>
<body>

<div class="main-block">
    <form th:object="${cost}" action="cost" method="post">
        <h1>Dodaj nowy Rozchód</h1>
        <div class="info">
            <input type="hidden" th:field="*{ID}">
            <label>Kwota</label>
            <input type="text" th:field="*{amount}" placeholder="e.g. 1000">
            <label>Za co</label>
            <input type="text" th:field="*{forWhat}" placeholder="e. g. Rozliczenie z Urzędem Skarbowym">
            <label>termin zapłaty</label>
            <input type="text" id="datepicker" th:name="date2">
        </div>
        <button type="submit" href="/">Dodaj Rozchód</button>
    </form>
</div>

</body>
</html>