<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link th:href="@{/css/newIncome.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>
</head>
<body>


    <form th:object="${cost}" action="cost" method="post">
        <h1>Dodaj nowy Rozchód</h1>
        <div class="info">
            <input type="hidden" th:field="*{ID}">
            <label>Kwota</label>
            <input type="text" th:field="*{amount}" placeholder="e.g. 1000">
            <span th:if="${#fields.hasErrors('amount')}">
                <ul>
                    <li style="color: red">Wartość musi być podana liczbowo, minimalna wartość wynosi 1</li>
                </ul>
            </span>
            <label>Za co</label>
            <input type="text" th:field="*{forWhat}" placeholder="e. g. Rozliczenie z Urzędem Skarbowym">
            <span th:if="${#fields.hasErrors('forWhat')}">
                <ul>
                    <li style="color: red">Pole nie może być puste</li>
                </ul>
            </span>
            <label>termin zapłaty</label>
            <input type="text" id="datepicker" th:name="date2" th:value="${date}" >
        </div>
            <p style="color: red" th:text="${error}"></p>

        <button type="submit" href="/">Dodaj Rozchód</button>
    </form>

    <a style="font-size: 13px" class="button" th:href="@{/}" >Powrót do głównego menu</a></body>
</html>